<div class="row">
    <div class="col s8 offset-s2">
        <form action="/password" method="post" class="col s12">

            <h4>Задать пароль</h4>
            {{#if error}}
                <p id="err" data-error="{{error}}"></p>
            {{/if}}
            <div class="input-field col s12">
                <input id="password" type="password" name="password" class="validate" required>
                <label for="password">Новый пароль</label>
                <span class="helper-text" data-error="Введите пароль" data-success=""></span>
            </div>
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token" value="{{token}}">
            <button id="loginBtn" class="btn waves-effect waves-light" type="submit">Обновить пароль
                <i class="material-icons right"></i>
            </button>

        </form>
    </div>
</div>
