<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="preload" href="/preload.js" as="script">
    <script src="/preload.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css">



<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="/jquery.min.js"></script>
    <script src="/anime.min.js"></script>
    <link rel="stylesheet" href="/jquery.fancybox.min.css">
    <meta name='description' content='{{meta}}' />
    <title>{{title}}</title>

</head>
<div>
    <a href="/escort">
    <img src="/images/LOGO2.svg" alt="" class="log--3">
    </a>
</div>
