<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K4Q56C7');</script>
    <!-- End Google Tag Manager -->
    <link rel="preload" href="/preload.js" as="script" crossOrigin="anonymous">
    <script src="/jquery.min.js"></script>
    <script src="/anime.min.js"></script>
    <script async type="module" src="/preload.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <link rel="stylesheet" href="/jquery.fancybox.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" crossOrigin="anonymous">
    <meta name='description' content='{{meta}}' />
    <title>{{title}}</title>

</head>
<div>
    <a href="/escort">
    <img src="/images/LOGO2.svg" alt="" class="log--4">
    </a>
</div>
