<div class="parallax-container">
    <div class="parallax">
        <img class="imgParralax" id="imgParallax" src="/images/1.jpg"></div>
    <h3>ZODIAK</h3>
    <h5>The Best Escort Models in Ukraine. Individual escort luxury</h5>
</div>
<hr class="hr-index">
<div class="container">
    {{#if error}}
        <p id="err" data-error="{{error}}"></p>
    {{/if}}
    <div class="row">
        <div class="col 14 s12 m4">
            <div class="card sticky-action">
                <div class="card-image">
                    <img src="/images/9.jpg">
                    <h2 class="card-title">Эскорт Украина</h2>
                    <a href="/escort" class="btn-floating halfway-fab waves-effect waves-light orange pulse"><i
                            class="material-icons">star_border
                    </i></a>
                </div>
                <div class="card-content">
                    <p>Лучшие индивидуалки Украины на портале ZODAIK.Самые лучшие проститутки и эскортницы с реальными фотографиями.
                    Отзвы от реальных пользователей.</p>
                </div>
            </div>
        </div>
        <div class="col 14 s12 m4">
            <div class="card sticky-action">
                <div class="card-image">
                    <img src="/images/6.jpg">
                    <h2 class="card-title">LUX ESCORT</h2>
                    <a href="/lux" class="btn-floating halfway-fab waves-effect waves-light yellow accent-4 pulse"><i
                            class="material-icons">stars</i></a>
                </div>
                <div class="card-content">
                    <p>В данном разделе представленны тольк эксклюзивные предложения от лучших эскортниц.</p><i>Досутп к данному разделу ограничен.</i>
                </div>
            </div>
        </div>
        <div class="col 14 s12 m4">
            <div class="card sticky-action">
                <div class="card-image">
                    <img src="/images/5.jpg">
                    <span class="card-title">Вакансии</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light orange accent-4 pulse"><i
                            class="material-icons">star</i></a>
                </div>
                <div class="card-content">
                    <p>Самые выгодные предложения работы на ZODIAK. Лучшие условия от проверенных рекламодателей</p>
                </div>
            </div>
        </div>
    </div>
</div>
