<div style="display: flex;
    align-items: center;
    justify-content: center">
    <iframe width="300" height="300" src="{{link}}" allowtransparency="true" scrolling="no" frameborder="0"></iframe>

</div>
