<div class="pay--block">
<table class="striped">
    <thead>
    <tr>
        <th>Операция</th>
        <th>Дата</th>
    </tr>
    </thead>

    <tbody>
    {{#each pay}}
    <tr>
        <td>{{this.pay}}</td>
        <td>{{this.date}}</td>
    </tr>
{{/each}}
    </tbody>
</table>
</div>