<div class="parallax-container">
    <div class="parallax"><img src="https://u-stena.ru/upload/iblock/7a7/7a70421b850b0219f4591985c8f28664.jpg"></div>
    <h3>WORK</h3>
</div>
</br>
</br>
<h3>Вакансии</h3>